---
layout: single
title: "Publications"
permalink: /publications/
author_profile: true
---

<h1>Publications</h1>
<p><em>(* = Equal Contribution)</em></p>

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp:"item", "item.date | date: '%Y'" %}

{% for year in pubs_by_year %}
  <h2>{{ year.name }}</h2>
  <ul style="list-style-type: disc; padding-left: 1.25rem;">
    {% for pub in year.items %}
      <li style="margin-bottom: 1em;">
        {{ pub.title }}
        {% if pub.paperurl %} [<a href="{{ pub.paperurl }}">PDF</a>]{% endif %}
        {% if pub.codeurl %} [<a href="{{ pub.codeurl }}">Code</a>]{% endif %}<br>
        <strong>{{ pub.authors }}</strong><br>
        <em>{{ pub.venue }}</em>{% if pub.venue_abbrev %} (<strong>{{ pub.venue_abbrev }}</strong>){% endif %}, {{ pub.date | date: "%Y" }}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
