{% include base_path %}

{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <!-- TITLE -->
    <h3 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h3>

    <!-- VENUE + YEAR -->
    {% if post.collection == 'publications' %}
      <p><em>{{ post.venue }}, {{ post.date | date: "%Y" }}</em></p>
    {% endif %}

    <!-- DESCRIPTION (excerpt) -->
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify }}
      </p>
    {% endif %}

    <!-- CITATION ONLY (NO LABEL) -->
    {% if post.citation %}
      <p>{{ post.citation }}</p>
    {% endif %}

    <!-- DOWNLOAD LINKS -->
    {% if post.paperurl or post.slidesurl %}
      <p>
        {% if post.paperurl %}<a href="{{ post.paperurl }}">📄 Paper</a>{% endif %}
        {% if post.paperurl and post.slidesurl %} &nbsp;|&nbsp; {% endif %}
        {% if post.slidesurl %}<a href="{{ post.slidesurl }}">📊 Slides</a>{% endif %}
      </p>
    {% endif %}
    
  </article>
</div>
